<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Xplor - Housing at MNSU</h1>
          <p class="lead text-muted">We are here to give you a better living experience. Sign Up today and explore hundreds and thousands of options for your time at MNSU.</p>
          <p>
            <a href="https://xplorrr-pawanghising67.c9users.io/apartmentsws/new" class="btn btn-primary my-2">List Apartment</a>
            <a href="https://xplorrr-pawanghising67.c9users.io/apartmentsws" class="btn btn-secondary my-2">Find Apartment</a>
            
          </p>
        </div>
      </section>