<!--May be unnecessary now-->
<h2 id='title'> <%= @title %> </h2>
<p> <%= @content %> </p>

<body>
    
    Don't have an account? <%= link_to "Sign Up Here!", signup_path %>

    <h3> Login </h3>
    
    <!--<form action="sessions" method="POST">-->
    <!--    <input type="email" name="login[email]" placeholder="email">-->
    <!--    <input type="password" name="login[password]" placeholder="password">-->
    <!--    <input type="hidden" name="authentication_token" placeholder="email"-->
    <!--</form>-->

</body>

<style>
    #title {
        margin-top: 70px;
    }
</style>