%section.jumbotron.text-center
  .container

    %h1.jumbotron-heading Xplor Housing
    %p.lead.text-muted Best place to find, sell, advertise your housing. Anytime, Anywhere as your wish.
    %p
      %a.btn.btn-primary{:href => "#"} Rent     
      %a.btn.btn-secondary{:href => "#"} Sublease

